@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: satoshi;
    src: url(../../public/fonts/Satoshi-Black.woff);
}
body{
    font-family: satoshi;
}

html {
    scroll-behavior: smooth;
}

.bg-blue {
    background-color: #F0D7A3;
    color: black;
}

.bg-blue :hover {
    background-color: #FFE5AD !important;
}

.bg-white {
    background-color: white;
}