@font-face {
    font-family: satoshi;
    src: url(../../public/fonts/Satoshi-Black.woff);
}
body{
    font-family: satoshi;
}

html {
    scroll-behavior: smooth;
}

.bg-blue {
    background-color: #DB09AF;
    color: white;
}

.bg-blue :hover {
    background-color: #FF0BCC !important;
}

.bg-white {
    background-color: white;
}